name: Build image

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    env:
      AZURE_CONTAINER_REGISTRY_URL: hmctsprod.azurecr.io
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run security scan
        run: |
          trivy fs --severity HIGH,CRITICAL .

      - name: Generate build ID
        id: prep
        run: |
          sha=${GITHUB_SHA::8}
          ts=$(date +%s)
          echo "::set-output name=BUILD_ID::${sha}-${ts}"

      - name: Build and push
        uses: hmcts/cnp-githubactions-library/container-build-push@main
        with:
          registry: hmctsprod.azurecr.io
          registry-username: ${{ secrets.RENOVATE_ACR_APPID }}
          registry-password: ${{ secrets.RENOVATE_ACR_SECRET }}
          image-name: zap-glue
          image-tags: |
            pr-${{ steps.prep.outputs.BUILD_ID }}
          platforms: linux/amd64
