name: Build and push to ACR

on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 0 * * Tue"

jobs:
  main:
    runs-on: ubuntu-latest
    env:
      AZURE_CONTAINER_REGISTRY_URL: hmctspublic.azurecr.io
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run security scan
        run: |
          trivy fs --severity HIGH,CRITICAL .

      - name: Generate build ID
        id: prep
        run: |
          sha=${GITHUB_SHA::8}
          ts=$(date +%s)
          echo "::set-output name=BUILD_ID::${sha}-${ts}"

      - name: Build and push
        uses: hmcts/cnp-githubactions-library/container-build-push@main
        with:
          registry: hmctsprod.azurecr.io
          registry-username: ${{ secrets.HMCTSPROD_REGISTRY_USERNAME }}
          registry-password: ${{ secrets.HMCTSPROD_REGISTRY_PASSWORD }}
          image-name: zap-glue
          image-tags: |
            latest
            ${{ steps.prep.outputs.BUILD_ID }}
          platforms: linux/amd64
